.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 3px solid black;
  background-color: white;
}

.custom-input-group {
  padding: 10px;
  display: flex;
  flex-direction: row;
  margin:0 auto;
  width: 50%;
  

}

/*.wrapper {
    width: 60vw;
  }
  .data-show {
    background-color: #6798d0;
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .search-box {
    margin-top: 10vh;
    width: 40%;
  }
  .search-box > button {
    margin-left: 5px;
  }*/
  #cards {
    display: flex;
    size: 50px;
  }
  #cards > div {
    margin: 15px 15px 0 0;
    
  }
  .card {
    cursor: pointer;
    box-shadow: 0 0 10px #333;
  }
  